:root {
    --black: #222222;
    --pink-bkg: #f1e4e6;
    --pink-text: #f1808f;
}
body {
    font-family: 'lato';
    font-weight: 400;
    font-style: normal;
    font-size: 14px;
    line-height: 17px;
}

.icon {
    fill: sienna;
}

.visually-hidden {
	position: absolute !important;
	clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
	clip: rect(1px, 1px, 1px, 1px);
	padding:0 !important;
	border:0 !important;
	height: 1px !important; 
	width: 1px !important; 
	overflow: hidden;
}

.container {
    width: 1140px;
    margin: 0 auto;
}

.header {
    background-color: var(--black);
}

.header__logo {
    margin: 0 41px 0 0;
}

.header__button {
    background-color: transparent;
    border: 0;
}
.header__button-icon:hover,
.header__button-icon:focus {
    background: rgb(125, 214, 125);
}

.header__button-icon:hover .icon,
.header__button-icon:focus .icon {
    fill: black;
}
.header__button-icon:active .icon {
    fill: red
}


.header__link {
    margin: 0 0 0 33px;
}

.header__menu {
    display: none;
}

.header__wrp {
    display: flex;
    justify-content: space-between;
    min-height: 75px;
    align-items: center;
}

.brand {
    display: flex;
    margin: 0 0 0 63px;
}
.brand__img {
}
.brand__title-wrp {
    display: flex;
    align-items: center;
    padding: 0 0 0 92px;
    background-color: var(--pink-bkg);
    flex-grow: 1;
    min-height: 150px;
      padding: 40px;
}

.brand__title {
    font-size: 48px;
    font-weight: 900;
    line-height: 58px;
    color: var(--black);
    margin-left: 300px;
}
.brand__title {
    position: absolute;
    border: 1px ;
 }
 .brand__title::after {
   content: '';
   width: 10px;
   height: 100%;
   background:  #F16D7F;
   position: absolute;
   left: -20px;
   top: 7px;
}

.brand__sub-title {
    display: block;
    font-size: 32px;
    line-height: 38px;
}
.brand__sub-title-pink {
    color: var(--pink-text);

}

.sales__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
     
.sales__item {
    width: 360px;
    min-height: 260px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 63px;
}
.sales__item--woman {
    background-image: url('../img/product-1.jpg');
}

.sales__item--man {
    background-image: url('../img/product-2.jpg');
}

.sales__item--kids {
    background-image: url('../img/product-3.jpg');
}
.sales__item--shoes {
    background-image: url('../img/accesories.jpg');
    width: 100%;
}
.sales__item-text {
    color: #FFFFFF;
}
.sales__item-title {
    color: var(--pink-text);
}
.products {
    width: 1140px;
    margin: 0 auto;
}
.products__list {
    display: flex;
    justify-content: space-around;
}
.product__title {
    text-align: center;
    margin-top: 96px;
}
.products__text {
    color: #9F9F9F;
    text-align: center;
    margin-bottom: 80px;
}

.button__product-icon {
    border: 1px solid #FF6A6A;
    height: 47px;
    width: 211px;
    margin-bottom: 10px;
    margin-left: 479px;
}
.button__product-icon {
    margin-top: 50px;
}
.header__button {
    background-color: transparent;
    border: 0;
}
.button__product-icon:hover,
.button__product-icon:focus {
    background: rgb(208, 113, 113);
}

.button__product-icon:hover .icon,
.button__product-icon:focus .icon {
    fill: rgb(55, 14, 14);
}
.button__product-icon:active .icon {
    fill: rgb(118, 124, 167)
}

.footer__background-1 {
    margin-top: 95px;
   
}
.background__black {
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 1;
    transform: translate(-50%, -50%);
}
.footer__blocks{
    display: flex;
    flex-grow: 1;
    padding-top: 100px;
    padding-bottom: 100px;
}
.footer__blocks {
    display: flex;
    justify-content: space-around;
    flex-grow: 1;

}
.block {
    float: left;
    text-align: center;
    width: 300px;
    align-items: center;
    
}
.titles__footer {
    text-align: center;
    font-size: 19.96px;
    line-height: 24px;
    color: #FBFBFB;
    margin-bottom: 16px;
    margin-top: 18px;
}
.texts__footer {
    font-weight: 300;
    font-size: 13.972px;
    line-height: 17px;
    text-align: center;
    color: #FBFBFB;
}

.footer__background-2 {
    display: flex;
    position: relative;
}
.subscribe__content{
    position: absolute;
    left: 0px;
    top: 0px;

}
.subscribe {
    height: 142px;
    width: 1000px;
    left: 813px;
    top: 350px;
    border-radius: 0px;
    text-align: center;
    margin-left: 2000px;
    position: absolute;

}
.enter {
    
    width: 256px;
    left: 917px;
    top: 243px;
    border-radius: 0px;
    height: 36px;
   
}
.button__sub {
    width: 85px;
    left: 1181px;
    top: 250px;
    border-radius: nullpx;
    height: 40px;
    background: pink;
}
.subscribe__title{
    margin: 20px

}
.subscribe__text{
    margin: 20px;

}
.info__box {
    position: absolute;
    margin: 423px 139px 71px 1001px;
    width: 412px;
    padding: 0px;
}
.head__woman {
    align-items: center;
    margin-left: 156px;
}
.title__footer{
    font-size: 20px;
    line-height: 24px;
    text-align: center; 
}
.footer {
    background-color: var(--black);
  
}

.background__black {
    width: 100%;
}
.photo__subscribe {
    width: 100%;
}
.footer__background-3 {
    display: flex;
    justify-content: space-between;
    min-height: 75px;
    align-items: center;
}
.footer__title {
    color:  #FBFBFB;
    font-size: 16px;
    line-height: 19px;
    margin-left: 235px;
}


.footer__nav-group {
    right: 230px;
    position: absolute;
    
}
.footer__link {
   
}